* {
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  margin-top: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.menu-button {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}
.menu-line {
  display: block;
  background: #1f2022;
  width: 20px;
  height: 3px;
  border-radius: 20px;
}
.logo {
  margin-right: 59px;
}
.input-group {
  background: #ebebeb;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  max-width: 830px;
  width: 50%;
}
.input-search {
  width: 100%;
  background-color: transparent; /*прозрачный*/
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 23px;
}
.button-search {
  padding: 0;
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.icon-search {
  fill: #000;
}
.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.icons-link {
  text-decoration: none;
  opacity: 0.24;
}
.icons-link:hover {
  opacity: 0.7;
}
.icons-link:not(:last-child) {
  margin-right: 50px;
}
.user {
  margin-left: 45px;
}
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sidebar {
  position: fixed;
  width: 12%;
  left: 0;
  top: 114px;
  height: calc(100% - 114px);
  overflow: auto; /* прокрутка меню */
  padding-left: 32px;
  background-color: #fff;
}
.content {
  width: 100%;
  height: 100%;
  margin-top: 114px;
  padding-left: 13%;
}
.nav-menu {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style-type: none; /* убираем маркеры у списка */
}
.nav-item {
  margin-bottom: 28px;
}
.nav-link {
  display: flex;
  align-items: center;
  color: #898989;
  text-decoration: none; /*убираем нижнее подчеркивание у ссылок*/
}
.nav-link:hover {
  color: #ff0000;
}
.nav-link:hover .icon {
  fill: #ff0000;
}
.nav-item .icon {
  fill: #898989;
}
.nav-text {
  margin-left: 13px;
}
.nav-img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.nav-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}
.channel-title {
  display: flex;
  align-items: center;
}
.channel-avatar {
  width: 50px;
  height: 50px;
}
